# Environment variables template for reference
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
CHAT_ID=YOUR_TELEGRAM_CHAT_ID

WEATHER_API_KEY=YOUR_WEATHER_API_KEY
WEATHER_CITY=7.170985,79.868073

WHATSAPP_MOBILE_NUMBER=YOUR_PHONE_NUMBER
WHATSAPP_API_KEY=YOUR_CALLMEBOT_API_KEY

BLYNK_AUTH_TOKEN=YOUR_BLYNK_TEMPLATE_AUTH_TOKEN

TARGET_BLE_DEVICE_1=ff:a1:a0:02:d3:c7
TARGET_BLE_DEVICE_2=c1:a1:b2:2b:1c:46
TARGET_BLE_DEVICE_3=6b:a4:87:68:03:af

PEER_SERVER_IP=192.168.1.188
PEER_SERVER_PORT=80

